@media screen and (min-width: 320px)
    .logo
        height: 29px

    .header
        height: 288px
        background-position: 85% 0
        margin-bottom: 200px
        &__text
            top: 300px
            padding: 0 0.2rem
            width: 90%
        &__menu-mini
            background-color: $wht
            z-index: 1
            width: 100%

        &__h2
            font-weight: 900
            font-size: 29px
            margin-bottom: 8px
        &__h3
            font-size: 21px
            font-weight: 700
            margin-bottom: 17px
        &__btn
            width: 280px
            font-weight: 700

    .nav-link
        font-size: 18px
        color: #000000

    .about-us
        padding-top: 18px
        padding-bottom: 17px
        &__box
            flex-direction: column
        &__manbox
            order: -1
            margin-bottom: 20px
        &__h3
            padding-top: 25px
            padding-bottom: 10px
            font-size: 14px
            font-weight: 700
            display: none
        &__h3--320
            font-size: 21px
            font-weight: 700
            padding-bottom: 17px
        &__p
            font-size: 12px
            margin-bottom: 12px
    .section__steps
        padding-top: 27px
    .steps
        padding-bottom: 40px
        &__h2
            padding-top: 27px
            padding-bottom: 7px
            font-size: 26px
            font-weight: 600
        &__p
            font-size: 14px
    .we-sell
        padding: 22px
        background-color: #F7F7F7
        &__h2
            font-size: 22px
            font-weight: 700

    .calling
        padding: 32px 20px 7px 20px
        color: $wht
        &__h2
            font-size: 25px
            font-weight: 900
            padding-bottom: 11px
            text-transform: uppercase
        &__p
            font-size: 14px
            font-weight: 600
        &__form
            padding: 0
        &__tel
            border: 1px solid $wht
            box-sizing: border-box
            border-radius: 30px
            background-color: $blue
            padding: 0 25px
            color: $wht
            width: 280px
            height: 48px
            margin-bottom: 9px
        &__tel::placeholder
            font-size: 14px
            color: $wht
        &__btn
            border-radius: 30px
            background-color: $orange
            width: 280px
            height: 48px
            border: 0
            text-transform: uppercase
            font-weight: 700
        &__label
            padding-top: 10px
            font-size: 10px
        &__chckd
            margin-right: 10px

    .reviews
        min-height: 450px
        &__h2-top
            font-size: 28px
            font-weight: 700
            padding-top: 21px
            padding-bottom: 11px
        &__box
            padding-right: 0
            padding-left: 10px
        &__text
            padding-left: 7px
        &__h2
            font-size: 26px
        &__h3
            font-size: 18px
        &__p
            font-size: 10px
        &__p-bottom
            font-size: 12px
            padding-top: 14px

    .advantages
        background-color: #F7F7F7
        &__h2
            font-size: 26px
            padding-bottom: 12px
            font-weight: 700
        &__box
        &__img-box
            height: 86px
            width: 86px
            border-radius: 50%
            background-color: $wht
            display: flex
            justify-content: center
            align-items: center
        &__img
            width: 40px
        &_p
            font-size: 10px
            padding-bottom: 20px

    .guarantees
        background-color: $wht
        min-height: 320px
        &__h2
            padding-top: 27px
            padding-left: 21px
            font-size: 26px
            font-weight: 700
        &__box
            padding: 0 2rem
        &__top
            display: flex
            align-items: center
            padding-bottom: 15px
        &__img-box
            width: 62px
            height: 62px
            border-radius: 50%
            background-color: #f7f7f7
            display: flex
            justify-content: center
            align-items: center
        &__img
            width: 28px
        &__h3
            font-size: 15px
            padding-left: 10px
            font-weight: 600
        &__p
            font-size: 12px
            padding-bottom: 12px
        &__btn
            background-color: $blue
            color: $wht
            border: 0
            width: 230px
            height: 48px
            font-size: 16px
            font-weight: 700
            border-radius: 30px
            text-transform: uppercase

    .carousel-control-next,
    .carousel-control-prev 
        filter: invert(100%)

    .faq
        padding: 25px 21px
        background-color: $blue-light
        &__h2
            font-size: 28px
            font-weight: 700
            padding-bottom: 36px
        &__d
            background: $wht
            border-radius: 32px
            margin-bottom: 10px
            display: flex
            justify-content: center
            align-items: center
            
        &__s
            font-size: 14px
            display: flex
            flex-direction: row-reverse
            padding: 15px 8px
            outline: 0
            min-width: 280px
            min-height: 80px
        &__p

    summary::-webkit-details-marker 
        display: none
    summary:before 
        content: "►"
        margin-top: 15px
        color: $blue
    details[open] summary:before
        content: "▼"
    details[open]
        border-radius: 0

    .brands
        &__box
            padding: 30px 0 30px 60px
            min-height: 150px
        &__img 
            width: 66px
            height: 42px
            margin-right: 15px
        &__img-1
            background: url(img/brands-1.png) center no-repeat
            background-size: cover
        &__img-2
            background: url(img/brands-2.png) center no-repeat
            background-size: cover
        &__img-3
            background: url(img/brands-3.png) center no-repeat
            background-size: cover
        &__img-4
            background: url(img/brands-4.png) center no-repeat
            background-size: cover
        &__img-5
            background: url(img/brands-5.png) center no-repeat
            background-size: cover
        &__img-6
            background: url(img/brands-6.png) center no-repeat
            background-size: cover

    .calling-bottom
        background-color: $bgc
        padding-top: 20px
        &__h2
            font-size: 18px
            font-weight: 600
            padding-left: 7px
        &__tel
            border: 1px solid $grey-dark
            background-color: transparent
        &__tel::placeholder
            color: $grey-dark
        &__btn
            background-color: $blue
            color: $wht

    .footer
        background-color: $bgc
        &__menu-mini
            width: 100%
            top: -525px
            left: 0
            position: absolute
            padding-left: 10px
