@media screen and (min-width: 768px)
    .header
        height: 415px
        margin-bottom: 0
        &__menu-mini
            background-color: transparent
        &__text
            top: 113px
        &__h2
            color: #ffffff
        &__h3
            color: #ffffff

    .navbar-nav
        margin-left: auto

    .about-us
        background-color: #F7F7F7
        padding-top: 0
        padding-bottom: 60px
        &__box
            flex-direction: row
            justify-content: space-around
        &__manbox
            order: 1
        &__h3
            display: block
        &__h3--320
            display: none
        &__text
            width: 280px
        
