@media screen and (min-width: 320px)
    .logo
        height: 29px

    .header
        height: 288px
        background-position: 85% 0
        margin-bottom: 200px
        &__text
            top: 300px
            padding: 0 21px
        &__menu-mini
            background-color: #ffffff
            z-index: 1
        &__h2
            font-weight: 900
            font-size: 29px
            margin-bottom: 8px
        &__h3
            font-size: 21px
            font-weight: 700
            margin-bottom: 17px
        &__btn
            width: 280px

    .about-us
        padding-top: 18px
        padding-bottom: 17px
        &__box
            flex-direction: column
        &__manbox
            order: -1
        &__h3
            margin-top: 25px
            margin-bottom: 10px
            font-size: 14px
            font-weight: 700
            display: none
        &__h3--320
            font-size: 21px
            font-weight: 700
            margin-bottom: 17px
        &__p
            font-size: 12px
            margin-bottom: 12px