@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  background: url(img/bg-1.jpg) center no-repeat;
  background-size: cover;
  padding: 0 2%;
  position: relative;
}

.header__text {
  position: absolute;
}

.header__h2 {
  font-size: 31px;
  color: #000000;
}

.header__h3 {
  font-size: 23px;
  color: #000000;
}

.header__btn {
  border-radius: 30px;
  width: 100%;
  background-color: #008DCD;
  border: 0;
  height: 48px;
  color: #ffffff;
  text-transform: uppercase;
}

.navbar {
  padding-top: 1.5rem;
}

.navbar-nav {
  width: 100%;
}

.about-us {
  background-color: #F7F7F7;
  padding: 1rem;
}

.about-us__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__steps {
  background-color: #e5e5e5;
}

.calling {
  background-color: #008DCD;
}

.reviews {
  position: relative;
}

@media screen and (min-width: 320px) {
  .logo {
    height: 29px;
  }
  .header {
    height: 288px;
    background-position: 85% 0;
    margin-bottom: 200px;
  }
  .header__text {
    top: 300px;
    padding: 0 0.2rem;
    width: 90%;
  }
  .header__menu-mini {
    background-color: #FFFFFF;
    z-index: 1;
    width: 100%;
  }
  .header__h2 {
    font-weight: 900;
    font-size: 29px;
    margin-bottom: 8px;
  }
  .header__h3 {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 17px;
  }
  .header__btn {
    width: 280px;
    font-weight: 700;
  }
  .nav-link {
    font-size: 18px;
    color: #000000;
  }
  .about-us {
    padding-top: 18px;
    padding-bottom: 17px;
  }
  .about-us__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-us__manbox {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 20px;
  }
  .about-us__h3 {
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    display: none;
  }
  .about-us__h3--320 {
    font-size: 21px;
    font-weight: 700;
    padding-bottom: 17px;
  }
  .about-us__p {
    font-size: 12px;
    margin-bottom: 12px;
  }
  .section__steps {
    padding-top: 27px;
  }
  .steps {
    padding-bottom: 40px;
  }
  .steps__h2 {
    padding-top: 27px;
    padding-bottom: 7px;
    font-size: 26px;
    font-weight: 600;
  }
  .steps__p {
    font-size: 14px;
  }
  .we-sell {
    padding: 22px;
    background-color: #F7F7F7;
  }
  .we-sell__h2 {
    font-size: 22px;
    font-weight: 700;
  }
  .calling {
    padding: 32px 20px 7px 20px;
    color: #FFFFFF;
  }
  .calling__h2 {
    font-size: 25px;
    font-weight: 900;
    padding-bottom: 11px;
    text-transform: uppercase;
  }
  .calling__p {
    font-size: 14px;
    font-weight: 600;
  }
  .calling__form {
    padding: 0;
  }
  .calling__tel {
    border: 1px solid #FFFFFF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 30px;
    background-color: #008DCD;
    padding: 0 25px;
    color: #FFFFFF;
    width: 280px;
    height: 48px;
    margin-bottom: 9px;
  }
  .calling__tel::-webkit-input-placeholder {
    font-size: 14px;
    color: #FFFFFF;
  }
  .calling__tel:-ms-input-placeholder {
    font-size: 14px;
    color: #FFFFFF;
  }
  .calling__tel::-ms-input-placeholder {
    font-size: 14px;
    color: #FFFFFF;
  }
  .calling__tel::placeholder {
    font-size: 14px;
    color: #FFFFFF;
  }
  .calling__btn {
    border-radius: 30px;
    background-color: #FFCC00;
    width: 280px;
    height: 48px;
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
  }
  .calling__label {
    padding-top: 10px;
    font-size: 10px;
  }
  .calling__chckd {
    margin-right: 10px;
  }
  .reviews {
    min-height: 450px;
  }
  .reviews__h2-top {
    font-size: 28px;
    font-weight: 700;
    padding-top: 21px;
    padding-bottom: 11px;
  }
  .reviews__box {
    padding-right: 0;
    padding-left: 10px;
  }
  .reviews__text {
    padding-left: 7px;
  }
  .reviews__h2 {
    font-size: 26px;
  }
  .reviews__h3 {
    font-size: 18px;
  }
  .reviews__p {
    font-size: 10px;
  }
  .reviews__p-bottom {
    font-size: 12px;
    padding-top: 14px;
  }
  .advantages {
    background-color: #F7F7F7;
  }
  .advantages__h2 {
    font-size: 26px;
    padding-bottom: 12px;
    font-weight: 700;
  }
  .advantages__img-box {
    height: 86px;
    width: 86px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantages__img {
    width: 40px;
  }
  .advantages_p {
    font-size: 10px;
    padding-bottom: 20px;
  }
  .guarantees {
    background-color: #FFFFFF;
    min-height: 320px;
  }
  .guarantees__h2 {
    padding-top: 27px;
    padding-left: 21px;
    font-size: 26px;
    font-weight: 700;
  }
  .guarantees__box {
    padding: 0 2rem;
  }
  .guarantees__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 15px;
  }
  .guarantees__img-box {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: #f7f7f7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .guarantees__img {
    width: 28px;
  }
  .guarantees__h3 {
    font-size: 15px;
    padding-left: 10px;
    font-weight: 600;
  }
  .guarantees__p {
    font-size: 12px;
    padding-bottom: 12px;
  }
  .guarantees__btn {
    background-color: #008DCD;
    color: #FFFFFF;
    border: 0;
    width: 230px;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 30px;
    text-transform: uppercase;
  }
  .carousel-control-next,
  .carousel-control-prev {
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
  .faq {
    padding: 25px 21px;
    background-color: #94D1EC;
  }
  .faq__h2 {
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 36px;
  }
  .faq__d {
    background: #FFFFFF;
    border-radius: 32px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .faq__s {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 15px 8px;
    outline: 0;
    min-width: 280px;
    min-height: 80px;
  }
  summary::-webkit-details-marker {
    display: none;
  }
  summary:before {
    content: "►";
    margin-top: 15px;
    color: #008DCD;
  }
  details[open] summary:before {
    content: "▼";
  }
  details[open] {
    border-radius: 0;
  }
  .brands__box {
    padding: 30px 0 30px 60px;
    min-height: 150px;
  }
  .brands__img {
    width: 66px;
    height: 42px;
    margin-right: 15px;
  }
  .brands__img-1 {
    background: url(img/brands-1.png) center no-repeat;
    background-size: cover;
  }
  .brands__img-2 {
    background: url(img/brands-2.png) center no-repeat;
    background-size: cover;
  }
  .brands__img-3 {
    background: url(img/brands-3.png) center no-repeat;
    background-size: cover;
  }
  .brands__img-4 {
    background: url(img/brands-4.png) center no-repeat;
    background-size: cover;
  }
  .brands__img-5 {
    background: url(img/brands-5.png) center no-repeat;
    background-size: cover;
  }
  .brands__img-6 {
    background: url(img/brands-6.png) center no-repeat;
    background-size: cover;
  }
  .calling-bottom {
    background-color: #E9E9E9;
    padding-top: 20px;
  }
  .calling-bottom__h2 {
    font-size: 18px;
    font-weight: 600;
    padding-left: 7px;
  }
  .calling-bottom__tel {
    border: 1px solid #363636;
    background-color: transparent;
  }
  .calling-bottom__tel::-webkit-input-placeholder {
    color: #363636;
  }
  .calling-bottom__tel:-ms-input-placeholder {
    color: #363636;
  }
  .calling-bottom__tel::-ms-input-placeholder {
    color: #363636;
  }
  .calling-bottom__tel::placeholder {
    color: #363636;
  }
  .calling-bottom__btn {
    background-color: #008DCD;
    color: #FFFFFF;
  }
  .footer {
    background-color: #E9E9E9;
  }
  .footer__menu-mini {
    width: 100%;
    top: -525px;
    left: 0;
    position: absolute;
    padding-left: 10px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 415px;
    margin-bottom: 0;
  }
  .header__menu-mini {
    background-color: transparent;
  }
  .header__text {
    top: 113px;
  }
  .header__h2 {
    color: #ffffff;
    margin-bottom: 18px;
  }
  .header__h3 {
    color: #ffffff;
    margin-bottom: 36px;
  }
  .header__text {
    width: 500px;
  }
  .navbar-nav {
    margin-left: auto;
  }
  .nav-link {
    font-size: 14px;
    color: #ffffff;
  }
  .about-us {
    background-color: #F7F7F7;
    padding-top: 0;
    padding-bottom: 60px;
  }
  .about-us__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .about-us__manbox {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about-us__h3 {
    display: block;
    font-size: 30px;
  }
  .about-us__h3--320 {
    display: none;
  }
  .about-us__p {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .about-us__text {
    width: 520px;
  }
  .footer__nav-link {
    font-size: 18px;
    color: #363636;
  }
  .footer__menu-mini {
    position: static;
  }
  .menu-hide {
    display: none !important;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    height: 525px;
    padding-left: 140px;
  }
  .header__menu-mini ul {
    padding: 0 60px;
  }
  .header__text {
    margin-top: 60px;
  }
  .about-us__text {
    width: 438px;
    margin-right: 62px;
  }
}
/*# sourceMappingURL=style.css.map */